@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --heading-font-size: 6rem;
  --heading-font-size-600: 4rem;
  --heading-font-size-ios: 2.5rem;
  --heading-font-size-tablet: 6rem;
  --heading-font-size-desktop: 6rem;
}

.transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile {
  float: right;
  margin: 1.3rem 2rem;
  max-width: 50px;
}

.mobile ion-icon {
  color: transparent;
  font-size: 4rem;
}

.dark {
  background-color: #0c0c0c !important;
}

.dark h1 {
  -webkit-transition: 1s;
  transition: 1s;
  color: white !important;
}

.dark h1 span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0f0f0f !important;
  background-color: white !important;
}

.dark button {
  color: white !important;
}

.dark li {
  color: white !important;
}

.dark li a {
  color: white !important;
}

.dark .btn-container a {
  background-color: transparent !important;
  border: solid 0.1rem white !important;
  color: white !important;
}

.dark .btn-container a:hover {
  background-color: white !important;
  color: black !important;
}

.dark .about h2 {
  color: white !important;
}

.dark .about h2 span {
  background-color: white !important;
  color: black !important;
}

.dark .about .text p {
  color: white !important;
}

.container {
  top: 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 60rem;
}

header nav {
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 0;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

header nav h1 {
  font-family: "Poppins", "Consolas", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #0c0c0c;
}

header nav #mode {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #0c0c0c;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header nav ul li {
  font-size: 1.4rem;
  margin: -2.5rem 1rem;
  color: #0c0c0c;
}

header nav ul li a {
  color: #0c0c0c;
}

header .container {
  margin: 10rem 20rem;
  width: 90vw;
  -webkit-animation: introLoad 0.9s forwards;
          animation: introLoad 0.9s forwards;
}

header .container h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--heading-font-size);
  width: 80rem;
  -webkit-transition: 1s;
  transition: 1s;
}

header .container h1 span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d4d4d4;
  background-color: #0f0f0f;
}

header .container .btn-container {
  margin: 2rem auto;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .btn-container a {
  background-color: transparent;
  border: solid 0.2rem black;
  color: black;
  text-decoration: none;
  margin: 0 0.2rem;
  padding: 0.5rem 1.2rem;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

header .container .btn-container a:hover {
  -webkit-box-shadow: 0 0 0 0.2rem black;
          box-shadow: 0 0 0 0.2rem black;
  background-color: black;
  color: #e0dfdf;
  -webkit-transition: opacity 0.3s, border 0.3s;
  transition: opacity 0.3s, border 0.3s;
}

header .container .about {
  margin: 20rem auto;
  width: 100%;
  max-width: 915px;
  padding: 1rem 10rem 1rem 2rem;
  -webkit-animation: introLoad 0.9s forwards;
          animation: introLoad 0.9s forwards;
  font-family: "Poppins", sans-serif;
}

header .container .about .margin {
  margin: 5.5rem auto;
}

header .container .about .margin h2 {
  font-weight: normal;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  -webkit-transition: 1s;
  transition: 1s;
  border-bottom: solid 0.1rem;
}

header .container .about .margin h2 i {
  float: right;
  margin: 0 0.5rem;
}

header .container .about .margin h2 div {
  color: #e6e1e1 !important;
  margin: -2rem auto;
}

header .container .about .margin h2 span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d4d4d4;
  background-color: #0f0f0f;
}

header .container .about .margin p {
  color: #d4d4d4;
  padding: 1rem 2rem;
  font-size: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

header .container .about .margin .overlay {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #131313;
  padding: 1rem;
  margin: 0 0.4rem;
  height: 80px;
  border: solid 0.1rem white;
}

section {
  background-color: white;
}

section .container {
  margin: 10rem 20rem;
  width: 90vw;
}

footer {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  background-color: transparent;
  width: 100%;
}

footer .boot {
  font-size: 2rem;
  color: snow;
  margin-left: 5rem;
  margin: 1rem 5rem;
}

footer .boot h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #0c0c0c;
  text-align: center;
}

@media screen and (max-width: 2600px) {
  nav {
    max-width: 2100px !important;
  }
  .container {
    margin: 10rem 15rem !important;
    width: auto !important;
  }
  .container h1 {
    font-size: var(--heading-font-size-600) !important;
    width: 50rem !important;
  }
}

@media screen and (max-width: 1940px) {
  nav {
    max-width: 1600px !important;
  }
  .container {
    margin: 10rem 20rem !important;
    width: 90vw !important;
  }
  .container h1 {
    font-size: var(--heading-font-size) !important;
    width: 80rem !important;
  }
}

@media screen and (max-width: 1800px) {
  nav {
    max-width: 1500px !important;
  }
  .container {
    margin: 10rem 15rem !important;
    width: auto !important;
  }
  .container h1 {
    font-size: var(--heading-font-size-600) !important;
    width: 50rem !important;
  }
}

@media screen and (max-width: 1500px) {
  nav {
    max-width: 1200px !important;
  }
  header .container {
    margin: 5rem 8rem !important;
    width: auto !important;
  }
  header .container h1 {
    font-size: 3.8rem !important;
  }
}

@media screen and (max-width: 1200px) {
  header nav {
    padding: 0.8rem 0 5rem 0;
    max-width: 750px !important;
  }
  .container {
    margin: 3rem 2rem !important;
  }
  .container h1 {
    font-size: var(--heading-font-size-600) !important;
    width: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  header nav {
    padding: 0.8rem 0 5rem 0;
    max-width: 950px !important;
  }
}

@media screen and (max-width: 920px) {
  header nav {
    padding: 0.8rem 0 5rem 0;
    max-width: 850px !important;
  }
  header .about {
    margin: 15rem -3rem !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .about p {
    width: 80vw;
    padding: 1rem !important;
  }
}

@media screen and (max-width: 820px) {
  .mobile ion-icon {
    color: white !important;
  }
  header nav {
    padding: 0.8rem 0 5rem 0;
    max-width: 750px !important;
  }
  header nav ul {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  header nav {
    padding: 0.8rem 0 5rem 0;
    max-width: 700px !important;
  }
}

@media screen and (max-width: 600px) {
  header nav h1 {
    font-size: 2rem;
    margin: 0.7rem 2rem;
  }
  header .container {
    margin: 0 2rem !important;
  }
  header .container h1 {
    font-size: var(--heading-font-size-ios) !important;
    width: auto !important;
  }
  header .container .btn-container a {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    margin: 1rem 0.3rem !important;
    padding: auto !important;
  }
  header .about h2 {
    font-size: 2rem !important;
  }
  header .about div {
    margin: -1rem auto !important;
  }
}

button {
  border: none;
  background-color: transparent;
}

@-webkit-keyframes introLoad {
  from {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes introLoad {
  from {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */