nav.navbar {
  background: #020a12f6;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  -webkit-animation: fadeIn 2s ease-out;
          animation: fadeIn 2s ease-out;
}

nav.navbar .container {
  max-width: 80rem;
  -webkit-animation: swipeFromTop 2s ease-out;
          animation: swipeFromTop 2s ease-out;
}

nav.navbar .container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar .container .nav-logo a {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: normal;
  color: #ffffff;
}

nav.navbar .container .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar .container .nav-link .nav-link-item {
  list-style-type: none;
}

nav.navbar .container .nav-link .nav-link-item a {
  text-transform: uppercase;
  margin-right: 1.2rem;
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: #ffffff;
  opacity: 0.5;
}

nav.navbar .container .nav-link .nav-link-item a:hover {
  opacity: 1;
}

nav.navbar .container .nav-link .nav-link-item a.active {
  opacity: 1;
}

nav.navbar .container .nav-mobile-link {
  display: none;
}

section.resume {
  display: none;
  margin: 1rem auto;
  max-width: 80rem;
}

section.resume a {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  font-weight: bold;
  letter-spacing: 0.15rem;
  border-radius: 0.2rem;
  padding: 0.9rem 1.3rem;
  color: #000000;
  border: solid 0.15rem #ffffff;
  background: #ffffff;
  line-height: 4;
}

section.home .container {
  max-width: 80rem;
}

section.home .container .left-col {
  width: 56rem;
  margin-top: 24em;
}

section.home .container .left-col .text-container {
  -webkit-animation: swipeFromLeft 1.5s ease-out;
          animation: swipeFromLeft 1.5s ease-out;
}

section.home .container .left-col .text-container h2 {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: bold;
  color: #f0f0f0;
  line-height: 1.4;
  margin: 1.5rem auto;
}

section.home .container .left-col .text-container p {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.25rem, 5vw, 1rem);
  font-weight: normal;
  color: #c9c9c9;
  letter-spacing: 0.1rem;
  margin-left: 0.2rem;
}

section.home .container .left-col .btn-container {
  -webkit-animation: swipeFromRight 1.5s ease-out;
          animation: swipeFromRight 1.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

section.home .container .left-col .btn-container a {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  letter-spacing: 0.15rem;
  border-radius: 0.2rem;
  padding: 0.9rem 1.3rem;
}

section.home .container .left-col .btn-container a:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border: solid 0.15rem #0e5e94 !important;
}

section.home .container .left-col .btn-container a:nth-of-type(1) {
  color: #000000;
  border: solid 0.15rem #ffffff;
  background: #ffffff;
}

section.home .container .left-col .btn-container a:nth-of-type(2) {
  color: #ffffff;
  border: solid 0.15rem #6b6b6b99;
  background: transparent;
}

section.about .container {
  max-width: 80rem;
}

section.about .container .left-col {
  width: 40rem;
  margin-top: 23rem;
}

section.about .container .left-col .text-container {
  -webkit-animation: swipeFromTop 1.5s ease-out;
          animation: swipeFromTop 1.5s ease-out;
}

section.about .container .left-col .text-container h2 {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  color: #f0f0f0;
}

section.about .container .left-col .text-container p {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: normal;
  color: #ffffff;
  margin-top: 2rem;
  margin-left: 0.1rem;
}

section.projects .container {
  max-width: 80rem;
}

section.projects .container .left-col {
  margin-top: 23rem;
}

section.projects .container .left-col .text-container {
  -webkit-animation: swipeFromTop 1.5s ease-out;
          animation: swipeFromTop 1.5s ease-out;
}

section.projects .container .left-col .text-container h2 {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  color: #f0f0f0;
}

section.projects .container .left-col .card-grid {
  -webkit-animation: swipeFromBottom 1.5s ease-out;
          animation: swipeFromBottom 1.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.projects .container .left-col .card-grid .card {
  background: #06111d;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  width: 22rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  margin-right: 2.5rem;
}

section.projects .container .left-col .card-grid .card .card-img-container img {
  height: 12rem;
  border-radius: 0.5rem;
  width: 100%;
}

section.projects .container .left-col .card-grid .card .card-text-container {
  padding: 1.5rem;
}

section.projects .container .left-col .card-grid .card .card-text-container h4 {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  color: #f0f0f0;
}

section.projects .container .left-col .card-grid .card .card-text-container p {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.2rem, 5vw, 1rem);
  font-weight: normal;
  color: #ffffff;
  margin-top: 1rem;
}

section.projects .container .left-col .card-grid .card .card-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
}

section.projects .container .left-col .card-grid .card .card-btn-container a {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 0.2rem;
  padding: 0.7rem 1.1rem;
}

section.projects .container .left-col .card-grid .card .card-btn-container a:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border: solid 0.15rem #0e5e94 !important;
}

section.projects .container .left-col .card-grid .card .card-btn-container a:nth-of-type(1) {
  color: #000000;
  border: solid 0.15rem #ffffff;
  background: #ffffff;
}

section.projects .container .left-col .card-grid .card .card-btn-container a:nth-of-type(2) {
  color: #ffffff;
  border: solid 0.15rem #6b6b6b99;
  background: transparent;
}

section.contact .container {
  max-width: 80rem;
}

section.contact .container .left-col {
  margin-top: 23rem;
}

section.contact .container .left-col .text-container {
  -webkit-animation: swipeFromTop 1.5s ease-out;
          animation: swipeFromTop 1.5s ease-out;
}

section.contact .container .left-col .text-container h2 {
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  color: #f0f0f0;
}

section.contact .container .left-col .text-container h3 {
  margin-top: 2rem;
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 5vw, 1rem);
  font-weight: normal;
  color: #f0f0f0;
}

section.contact .container .left-col .form-container {
  -webkit-animation: swipeFromBottom 1.5s ease-out;
          animation: swipeFromBottom 1.5s ease-out;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

section.contact .container .left-col .form-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

section.contact .container .left-col .form-container .flex .input-container input[type='submit'] {
  font-weight: bold;
  border: none !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-family: 'Inter', 'Poppins', sans-serif;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  letter-spacing: 0.15rem;
  border-radius: 0.2rem;
  color: #000000;
  border: solid 0.15rem #ffffff;
  background: #ffffff;
  padding: 1rem 2rem;
}

section.contact .container .left-col .form-container .flex .input-container input[type='submit']:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  color: #ffffff;
  background: #040b13;
  border: solid 0.15rem #6b6b6b99;
}

section.contact .container .left-col .form-container .flex .link-container {
  overflow: hidden;
}

section.contact .container .left-col .form-container .flex .link-container a {
  color: #ffffff;
  margin-right: 1.2rem;
}

section.contact .container .left-col .form-container .flex .link-container a i {
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 4rem);
}
