nav.navbar {
  background: #020a12f6;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  animation: fadeIn 2s ease-out;

  .container {
    max-width: 80rem;
    animation: swipeFromTop 2s ease-out;
    .nav-logo {
      display: flex;
      align-items: center;
      a {
        font-size: clamp(1.5rem, 2vw, 1.8rem);
        font-weight: normal;
        color: #ffffff;
      }
    }
    .nav-link {
      display: flex;
      align-items: center;
      .nav-link-item {
        list-style-type: none;
        a {
          text-transform: uppercase;
          margin-right: 1.2rem;
          font-size: clamp(1.2rem, 2vw, 1.3rem);
          color: #ffffff;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
          &.active {
            opacity: 1;
          }
        }
      }
    }
    .nav-mobile-link {
      display: none;
    }
  }
}

section.resume {
  display: none;
  margin: 1rem auto;
  max-width: 80rem;
  a {
    font-family: 'Inter', 'Poppins', sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 0.2rem;
    padding: 0.9rem 1.3rem;
    color: #000000;
    border: solid 0.15rem #ffffff;
    background: #ffffff;
    line-height: 4;
  }
}

section.home {
  .container {
    max-width: 80rem;
    .left-col {
      width: 56rem;
      margin-top: 24em;

      .text-container {
        animation: swipeFromLeft 1.5s ease-out;
        h2 {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 4rem);
          font-weight: bold;
          color: #f0f0f0;
          line-height: 1.4;
          margin: 1.5rem auto;
        }
        p {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.25rem, 5vw, 1rem);
          font-weight: normal;
          color: #c9c9c9;
          letter-spacing: 0.1rem;
          margin-left: 0.2rem;
        }
      }
      .btn-container {
        animation: swipeFromRight 1.5s ease-out;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        a {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(0.7rem, 2vw, 1.1rem);
          letter-spacing: 0.15rem;
          border-radius: 0.2rem;
          padding: 0.9rem 1.3rem;

          &:hover {
            transition: all 0.8s ease-in-out;
            border: solid 0.15rem #0e5e94 !important;
          }

          &:nth-of-type(1) {
            color: #000000;
            border: solid 0.15rem #ffffff;
            background: #ffffff;
          }

          &:nth-of-type(2) {
            color: #ffffff;
            border: solid 0.15rem #6b6b6b99;
            background: transparent;
          }
        }
      }
    }
  }
}

section.about {
  .container {
    max-width: 80rem;
    .left-col {
      width: 48rem;
      margin-top: 25rem;
      .text-container {
        animation: swipeFromTop 1.5s ease-out;
        h2 {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 3.4rem);
          font-weight: bold;
          color: #f0f0f0;
        }
        p {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 1.8rem);
          font-weight: normal;
          color: #e9e9e9;
          margin-top: 2.1rem;
          margin-left: 0.2rem;
        }
      }
    }
  }
}

section.projects {
  .container {
    max-width: 80rem;
    .left-col {
      margin-top: 23rem;
      .text-container {
        animation: swipeFromTop 1.5s ease-out;
        h2 {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 3rem);
          font-weight: bold;
          color: #f0f0f0;
        }
      }
      .card-grid {
        animation: swipeFromBottom 1.5s ease-out;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
          background: rgb(0,0,0);
          background: linear-gradient(10deg, rgba(8, 20, 36, 0.562) 20%, rgba(30, 35, 78, 0.541) 40%, rgba(43, 48, 61, 0.048) 100%);
          box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
          width: 22rem;
          border-radius: 0.5rem;
          margin-top: 2.5rem;
          margin-right: 2.5rem;
          .card-img-container {
            img {
              height: 12rem;
              border-radius: 0.5rem;
              width: 100%;
            }
          }
          .card-text-container {
            padding: 1.5rem;
            h4 {
              font-family: 'Inter', 'Poppins', sans-serif;
              font-size: clamp(1.5rem, 5vw, 2rem);
              font-weight: bold;
              color: #f0f0f0;
            }
            p {
              font-family: 'Inter', 'Poppins', sans-serif;
              font-size: clamp(1.2rem, 5vw, 1rem);
              font-weight: normal;
              color: #ffffff;
              margin-top: 1rem;
            }
          }
          .card-btn-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 1.5rem;
            a {
              transition: all 1s ease-in-out;
              font-family: 'Inter', 'Poppins', sans-serif;
              font-size: clamp(0.7rem, 2vw, 1.1rem);
              font-weight: normal;
              text-transform: uppercase;
              border-radius: 0.2rem;
              padding: 0.7rem 1.1rem;

              &:hover {
                transition: all 0.8s ease-in-out;
                border: solid 0.15rem #0e5e94 !important;
              }

              &:nth-of-type(1) {
                color: #000000;
                border: solid 0.15rem #ffffff;
                background: #ffffff;
              }

              &:nth-of-type(2) {
                color: #ffffff;
                border: solid 0.15rem #6b6b6b99;
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

section.contact {
  .container {
    max-width: 80rem;
    .left-col {
      margin-top: 23rem;
      .text-container {
        animation: swipeFromTop 1.5s ease-out;
        h2 {
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 3rem);
          font-weight: bold;
          color: #f0f0f0;
        }
        h3 {
          margin-top: 2rem;
          font-family: 'Inter', 'Poppins', sans-serif;
          font-size: clamp(1.5rem, 5vw, 1rem);
          font-weight: normal;
          color: #f0f0f0;
        }
      }
      .form-container {
        animation: swipeFromBottom 1.5s ease-out;
        margin-top: 2rem;
        margin-bottom: 10rem;
        .flex {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          .input-container {
            input[type='submit'] {
              font-weight: bold;
              border: none !important;
              transition: all 1s ease-in-out;
              font-family: 'Inter', 'Poppins', sans-serif;
              font-size: clamp(0.7rem, 2vw, 1.1rem);
              letter-spacing: 0.15rem;
              border-radius: 0.2rem;
              color: #000000;
              border: solid 0.15rem #ffffff;
              background: #ffffff;
              padding: 1rem 2rem;
              &:hover {
                transition: all 0.8s ease-in-out;
                color: #ffffff;
                background: #040b13;
                border: solid 0.15rem #6b6b6b99;
              }
            }
          }

          .link-container {
            overflow: hidden;
            a {
              i {
                color: #ffffff;
                font-size: clamp(2rem, 5vw, 4rem);
              }
              color: #ffffff;
              margin-right: 1.2rem;
            }
          }
        }
      }
    }
  }
}
