@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #0e0e0e;
  background-image: url("/Simple\ Shiny\(1\).svg");
  background-repeat: no-repeat;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

@keyframes swipeFromRight {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeFromLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    font-size: 7rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes introLoad {
  from {
    display: none;
    transform: translateY(100px);
  }
  to {
    transition: 0.5s;
    transform: translateY(0);
  }
}

.active {
  color: white;
}

.container {
  margin: 0 auto;
  width: 100%;

  header {
    nav {
      animation: swipeFromLeft 1s ease-out;
      transition: 2s;
      background-color: rgba(12, 12, 12, 0.971);
      top: 0;
      z-index: 999;
      position: fixed;
      display: flex;
      justify-content: space-between;
      font-family: "Poppins", "Consolas", sans-serif;
      width: 100%;
      padding: 1.5rem 10vw;

      a {
        h1 {
          margin: 0 1rem;
          color: white;
          font-size: 2rem;
          font-weight: normal;
        }
      }

      ul {
        display: flex;
        list-style: none;
        li {
          text-transform: uppercase;
          font-size: 1.3rem;
          margin: auto 0.1rem;
          transition: 0.5s ease-in-out;

          .btn {
            margin: 0rem 0.834rem;
            transition: 0.4s ease-out;
            color: rgba(255, 255, 255, 0.493);
          }

          .active,
          .btn:hover {
            transition: 0.2s ease-in;
            color: rgb(255, 255, 255);
          }
        }
      }

      img {
        display: block;
        float: right;
      }
    }

    main {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 1rem;
      margin: 15vw; // make responsive
      max-width: 70%;
      .text {
        width: 100%;
        transition: 0.5s;
        padding: 1rem;
        animation: swipeFromRight 1s ease-out;

        h1 {
          font-size: 3.4vw;
          animation: fadeIn 0.6s ease-in;
          color: rgb(255, 255, 255);
          line-height: 1.4;

          span {
            color: #908282;
          }
        }
      }

      .btn-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3rem 0;
        animation: fadeIn 1s ease-in;

        .important {
          color: black;
          background-color: rgb(255, 255, 255);
        }

        a {
          z-index: 2;
          animation: swipeFromLeft 0.5s ease-in;
          transition: 0.3s;
          color: rgb(207, 207, 207);
          margin: 0 0.5rem;
          border: solid 0.01rem #908282;
          padding: 0.5rem 1.2rem;
          font-size: 1vw;
          text-transform: uppercase;
          letter-spacing: 0.5rem;
        }

        a:hover {
          transition: 0.5s;
          color: rgb(255, 255, 255);
          background-color: #908282;
          transition: opacity 0.2s, border 0.3s;
        }
      }
    }
  }

  section {
    aside {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 1rem;
      margin: 15vw;
      max-width: 50%;
      .text {
        width: 100%;
        transition: 0.5s;
        padding: 10rem 1rem;
        animation: swipeFromRight 1s ease-out;

        h2 {
          font-size: 3vw;
          animation: fadeIn 0.6s ease-in;
          font-weight: normal;
          color: rgb(255, 255, 255);
          line-height: 0.9;

          span {
            color: #908282;
          }
        }

        p {
          margin: 1rem 0;
          color: rgb(243, 243, 243);
          padding: 1rem 0rem;
          font-size: 1.3vw;
          transition: 0.5s;

          i {
            color: rgb(243, 243, 243);
            font-size: 4rem;
            margin: 2.4rem 0.3rem;
          }
        }
      }
    }

    article {
      display: block;
      padding: 1rem;
      margin: 15vw;
      max-width: 100%;

      .text {
        transition: 0.5s;
        padding: 1rem 0;
        animation: swipeFromRight 1s ease-out;

        h2 {
          font-size: 4rem;
          animation: fadeIn 0.6s ease-in;
          font-weight: normal;
          color: rgb(231, 231, 231);
          line-height: 1.1;
        }

        span {
          color: #908282;
        }
      }

      .card {
        display: flex;
        justify-content: center;
        width: 100%;
        transition: 0.5s;
        padding: 1rem;
        animation: swipeFromRight 1s ease-out;
        background-color: rgba(0, 0, 0, 0.267);
        border: solid 0.1rem white;
        margin: 3rem auto;

        .info {
          padding: 1rem;
          max-width: 50%;

          h1 {
            padding: 0.4rem;
            font-size: 2.5rem;
            color: rgb(238, 238, 238) !important;
          }

          p {
            padding: 0.5rem;
            font-size: 1.2rem;
            color: rgb(204, 204, 204);
          }

          .technologies-container {
            display: flex;
            justify-content: flex-end;
            padding: 0.5rem;
            i {
              color: white;
              font-size: 3rem;
              margin: 0 0.5rem;
            }
          }

          .btn-container {
            display: flex;
            justify-content: flex-end;
            animation: fadeIn 1s ease-in;

            a {
              animation: swipeFromLeft 0.5s ease-in;
              color: rgb(207, 207, 207);
              margin: 0 0.5rem;
              border: solid 0.01rem #908282;
              padding: 0.5rem 1.2rem;
              font-size: 1vw;
              text-transform: uppercase;
              letter-spacing: 0.4rem;
            }

            a:hover {
              transition: 0.5s;
              color: rgb(255, 255, 255);
              background-color: #908282;
              transition: opacity 0.2s, border 0.3s;
            }
          }
        }

        .img {
          padding: 1rem;
          max-width: 50%;

          img {
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }

    footer {
      display: block;
      padding: 1rem;
      margin: 15vw;
      max-width: 100%;

      .text {
        transition: 0.5s;
        padding: 1rem;
        animation: swipeFromRight 1s ease-out;

        h2 {
          font-size: 2.7vw;
          animation: fadeIn 0.6s ease-in;
          font-weight: normal;
          color: rgb(231, 231, 231);
        }

        span {
          color: #908282;
        }
      }

      form {
        max-width: 40%;
        padding: 0 1rem;

        .form-container {
          display: block;
          h3 {
            color: white;
            font-weight: normal;
            font-size: 1.7rem;
          }

          input {
            margin: 1rem 0;
            background-color: transparent;
            padding: 1rem 1rem;
            border: solid 0.01rem #908282;
            color: white;
            font-size: 1.2rem;
            width: 30rem;
          }

          textarea {
            font-family: "Consolas", sans-serif;
            height: 10rem;
            border: solid 0.01rem #908282;
            color: white;
            background-color: transparent;
            font-size: 1.2rem;
            width: 30rem;
            padding: 0.5rem;
          }

          input[name="submit"] {
            font-family: "Poppins", sans-serif;
            width: 30rem;
            padding: 0.5rem 1rem;
            border: solid 0.01rem #908282;
            text-transform: uppercase;
            letter-spacing: 0.4rem;
            transition: 0.5s;
            color: black;
            background-color: rgb(255, 255, 255);
          }

          input[name="submit"]:hover {
            background-color: #908282;
            transition: 0.5s;
            color: #ffffff;
          }
        }
      }
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  body {
    transition: all 0.2s;
  }

  .container {
    header {
      main {
        .text {
          h1 {
            font-size: 5.5vw;
          }
        }

        .btn-container {
          a {
            font-size: 2vw;
          }
        }
      }
    }
    section {
      aside {
        .text {
          h2 {
            font-size: 5vw;
          }

          p {
            font-size: 2.5vw;
          }
        }
      }
      article {
        .text {
        }

        .card {
          display: block;
          padding: 0;
          width: 100%;

          .info {
            max-width: 100%;

            p {
              font-size: 1.4rem;
            }

            .technologies-container {
              justify-content: flex-start;
            }

            .btn-container {
              margin: 1rem 0;
              justify-content: flex-start;
            }
          }

          .img {
            max-width: 100%;
          }
        }
      }
      footer {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    transition: all 0.3s;
  }

  .container {
    padding: 0;
    margin: 0;

    header {
      nav {
        ul {
          display: none;
        }

        img {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    transition: all 0.2s;
  }

  .container {
    header {
      nav {
        padding: 3.5vw 1vw;
        a {
          h1 {
            font-size: 5vw;
          }
        }
      }

      main {
        justify-content: center;
        padding: 1rem 0;
        margin: 15vw 1rem;

        .text {
          padding: 0;
          h1 {
            font-weight: normal;
            text-align: left;
            font-size: 8vw;
          }
        }

        .btn-container {
          margin: 1rem 0;
          justify-content: flexstart;

          a {
            font-size: 3.5vw;
            margin: 0 0.3rem;
            padding: 1.5vw 4vw;
          }
        }
      }
    }

    section {
      aside {
        justify-content: center;
        padding: 1rem 0;
        max-width: inherit;
        margin: 15vw 1rem;

        .text {
          padding: 0;

          h2 {
            font-size: 8vw;
            font-weight: normal;
            line-height: 1.25;
          }

          p {
            font-size: 5vw;
            text-align: left;
            font-weight: normal;

            i {
              font-size: 3rem;
            }
          }
        }
      }

      article {
        justify-content: center;
        padding: 1rem 0;
        margin: 15vw 1rem;

        .text {
          padding: 0;

          h2 {
            font-size: 8vw;
            font-weight: normal;
            line-height: 1.25;
          }
        }

        .card {
          padding: 0;

          .info {
            padding: 1rem;
            h1 {
              padding: 0;
              font-size: 9vw;
              text-align: left;
              font-weight: normal;
            }

            p {
              font-size: 4vw;
            }

            .btn-container {
              margin: 2rem auto;

              a {
                margin: 0 0.5vw;
                padding: 2vw 5vw;
                font-size: 4vw;
                letter-spacing: 0.3;
              }
            }
          }

          img {
            width: 100%;
          }
        }
      }
      footer {
        padding: 1rem 0;
        margin: 15vw 1rem;

        .text {
          padding: 0;

          h2 {
            font-size: 8vw;
          }
        }

        form {
          max-width: 100%;
          padding: 0;

          .form-container {
            h3 {
              font-size: 6vw;
            }

            input {
              width: 100%;
            }

            textarea {
              width: 100%;
            }

            input[name="submit"] {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
