@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #0e0e0e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

@-webkit-keyframes swipeFromRight {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swipeFromRight {
  from {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes swipeFromLeft {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swipeFromLeft {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    font-size: 7rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    font-size: 7rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes introLoad {
  from {
    display: none;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes introLoad {
  from {
    display: none;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.container {
  margin: 0 auto;
  width: 100%;
}

.container header nav {
  -webkit-animation: swipeFromLeft 1s ease-out;
          animation: swipeFromLeft 1s ease-out;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: rgba(12, 12, 12, 0.971);
  top: 0;
  z-index: 999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", "Consolas", sans-serif;
  width: 100%;
  padding: 1.5rem 10vw;
}

.container header nav a h1 {
  margin: 0 1rem;
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.container header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container header nav ul li {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: auto 1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container header nav ul li a {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  color: rgba(255, 255, 255, 0.493);
}

.container header nav ul li a:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: #908282;
}

.container header nav img {
  display: block;
  float: right;
}

.container header main {
  padding: 1rem;
  margin: 15vw;
}

.container header main .text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container header main .text h1 {
  font-size: 5.85rem;
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  color: white;
  line-height: 1.4;
}

.container header main .text h1 span {
  color: #908282;
}

.container header main .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem auto;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.container header main .btn-container a {
  z-index: 2;
  -webkit-animation: swipeFromLeft 0.5s ease-in;
          animation: swipeFromLeft 0.5s ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cfcfcf;
  margin: 0 0.5rem;
  border: solid 0.01rem #908282;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.container header main .btn-container a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #908282;
  -webkit-transition: opacity 0.2s, border 0.3s;
  transition: opacity 0.2s, border 0.3s;
}

.container section aside {
  padding: 3rem;
  margin: 15vw;
}

.container section aside .text {
  max-width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10rem 0;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section aside .text h2 {
  font-size: 3rem;
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  font-weight: normal;
  color: #908282;
  line-height: 0.9;
}

.container section aside .text h2 span {
  color: #faf1f1 !important;
}

.container section aside .text p {
  margin-top: 1rem;
  color: #f3f3f3;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top: solid 0.2rem #908282;
  border-bottom: solid 0.2rem #908282;
}

.container section aside .text p i {
  color: #f3f3f3;
  font-size: 3.5rem;
  margin: 2rem 0.3rem;
}

.container section article {
  padding: 1rem;
  margin: 15vw;
}

.container section article .text {
  max-width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem 0;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section article .text h2 {
  font-size: 4rem;
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  font-weight: normal;
  color: #e7e7e7;
  line-height: 1.1;
}

.container section article .text span {
  color: #908282;
}

.container section article .card {
  background-color: rgba(0, 0, 0, 0.267);
  border: solid 0.1rem white;
  margin: 3rem auto;
  padding: 1rem;
}

.container section article .card .info {
  float: left;
  padding: 0.2rem;
  width: 50%;
}

.container section article .card .info h1 {
  padding: 0.4rem;
  font-size: 2.5rem;
  color: #eeeeee !important;
}

.container section article .card .info p {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #cccccc;
}

.container section article .card .info .technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.container section article .card .info .technologies-container i {
  color: white;
  font-size: 3rem;
  margin: 0 0.5rem;
}

.container section article .card .info .btn-container {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.container section article .card .info .btn-container a {
  z-index: 2;
  -webkit-animation: swipeFromLeft 0.5s ease-in;
          animation: swipeFromLeft 0.5s ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cfcfcf;
  margin: 0 0.5rem;
  border: solid 0.01rem #908282;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.container section article .card .info .btn-container a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #908282;
  -webkit-transition: opacity 0.2s, border 0.3s;
  transition: opacity 0.2s, border 0.3s;
}

.container section article .card img {
  width: 50%;
}

.container section footer {
  padding: 1rem;
  margin: 15vw;
}

.container section footer .text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section footer .text h2 {
  font-size: 3rem;
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  font-weight: normal;
  color: #e7e7e7;
}

.container section footer .text span {
  color: #908282;
}

.container section footer .text form {
  margin: 2rem 0;
}

.container section footer .text form .form-container h3 {
  color: white;
  font-weight: normal;
  font-size: 1.7rem;
}

.container section footer .text form .form-container input {
  padding: 1rem 1rem;
  border: solid 0.01rem #908282;
  color: white;
  background-color: transparent;
  font-size: 1.2rem;
  width: 30rem;
}

.container section footer .text form .form-container textarea {
  font-family: "Consolas", sans-serif;
  height: 10rem;
  border: solid 0.01rem #908282;
  color: white;
  background-color: transparent;
  font-size: 1.2rem;
  width: 30rem;
  padding: 0.5rem;
}

.container section footer .text form .form-container input[name="submit"] {
  margin: 2rem 0;
  font-family: "Poppins", sans-serif;
  width: 30rem;
  padding: 0.5rem 1rem;
  border: solid 0.01rem #908282;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #cfcfcf;
}

.container section footer .text form .form-container input[name="submit"]:hover {
  background-color: #908282;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 1500px) {
  body {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .container main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container main .text {
    max-width: 100%;
  }
  .container main .text h1 {
    font-weight: normal;
    text-align: left;
    font-size: 5.6vw !important;
  }
  .container section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container section aside .text {
    padding: 1rem;
  }
  .container section aside .text h2 {
    text-align: left;
    font-weight: normal;
    font-size: 4.6vw !important;
  }
  .container section article {
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container section article .text {
    max-width: 100%;
    padding: 1rem;
  }
  .container section article .text h2 {
    font-size: 4.6vw !important;
    text-align: left;
    font-weight: normal;
    line-height: 1.25;
  }
  .container section article .card {
    padding: 1rem;
  }
  .container section article .card .info {
    width: 50%;
  }
  .container section article .card .info h1 {
    font-size: 3rem;
    text-align: left;
    font-weight: normal;
  }
  .container section article .card .info p {
    font-size: 1.2rem;
  }
  .container section article .card .info .btn-container {
    margin: 2rem auto;
  }
  .container section article .card .info .btn-container a {
    margin: 0 0.5vw;
    padding: 1rem 2rem;
    font-size: 1rem;
    letter-spacing: 0.3;
  }
  .container section article .card img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .container header nav ul {
    display: none;
  }
  .container header nav img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  body {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .container header nav {
    padding: 3.5vw 1vw;
  }
  .container header nav a h1 {
    font-size: 5vw;
  }
  .container header main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container header main .text {
    max-width: 100%;
  }
  .container header main .text h1 {
    font-weight: normal;
    text-align: left;
    font-size: 10vw;
  }
  .container header main .btn-container {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container header main .btn-container a {
    font-size: 3vw;
    margin: 0 0.3rem;
    padding: 1.5vw 4vw;
  }
  .container section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container section aside .text {
    max-width: inherit;
    padding: 1rem;
  }
  .container section aside .text h2 {
    font-size: 10vw;
    text-align: left;
    font-weight: normal;
    line-height: 1.25;
  }
  .container section aside .text p {
    font-size: 5vw;
    text-align: left;
    font-weight: normal;
  }
  .container section article {
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container section article .text {
    max-width: 100%;
    padding: 1rem;
  }
  .container section article .text h2 {
    font-size: 10vw;
    text-align: left;
    font-weight: normal;
    line-height: 1.25;
  }
  .container section article .card {
    padding: 1rem;
  }
  .container section article .card .info {
    width: 100%;
  }
  .container section article .card .info h1 {
    font-size: 9vw;
    text-align: left;
    font-weight: normal;
  }
  .container section article .card .info p {
    font-size: 4vw;
  }
  .container section article .card .info .btn-container {
    margin: 2rem auto;
  }
  .container section article .card .info .btn-container a {
    margin: 0 0.5vw;
    padding: 2vw 5vw;
    font-size: 4vw;
    letter-spacing: 0.3;
  }
  .container section article .card img {
    width: 100%;
  }
  .container section footer {
    padding: 1.5rem;
    margin: 15vw 0;
  }
  .container section footer .text {
    max-width: 100%;
    padding: 1rem;
  }
  .container section footer .text h2 {
    font-size: 10vw;
    text-align: left;
    font-weight: normal;
  }
  .container section footer .text span {
    color: #908282;
  }
  .container section footer .text form .form-container h3 {
    font-size: 5vw;
  }
  .container section footer .text form .form-container input {
    width: 80vw;
    font-size: 4vw;
  }
  .container section footer .text form .form-container textarea {
    width: 80vw;
    font-size: 4vw;
  }
  .container section footer .text form .form-container input[name="submit"] {
    width: 80vw;
  }
}
/*# sourceMappingURL=index.css.map */