body {
  background-color: #0e0e0e;
  background-image: url("/assets/svg/background.svg");
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

#resume-container {
  display: none;
  max-width: 70%;
  margin: 7rem auto;
}

#resume-container a {
  z-index: 2;
  -webkit-animation: swipeFromLeft 0.5s ease-in;
          animation: swipeFromLeft 0.5s ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #141414;
  border: solid 0.01rem #ffffff;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: 0.5rem;
  line-height: 4;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

.active {
  color: white;
}

.container {
  position: absolute;
  margin: 0 auto;
  top: 0;
  width: 100%;
}

.container header .navbar {
  -webkit-animation: swipeFromLeft 1s ease-out;
          animation: swipeFromLeft 1s ease-out;
  z-index: 999;
  background-color: rgba(12, 12, 12, 0.971);
  top: 0;
  position: fixed;
  font-family: "Poppins", "Consolas", sans-serif;
  width: 100%;
  padding: 1.25rem 0;
}

.container header .navbar .align_objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-width: 70%;
}

.container header .navbar .align_objects .nav_logo {
  padding: 0.5rem 0;
}

.container header .navbar .align_objects .nav_logo .nav_link h1 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.container header .navbar .align_objects .nav_links {
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .navbar .align_objects .nav_links .burger_menu {
  display: none;
}

.container header .navbar .align_objects .nav_links .burger_menu img {
  width: 2.5rem;
}

.container header .navbar .align_objects .nav_links .unordered_list {
  list-style: none;
}

.container header .navbar .align_objects .nav_links .unordered_list .nav_item {
  text-transform: uppercase;
  font-size: 1.3rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container header .navbar .align_objects .nav_links .unordered_list .nav_item .link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0.85rem;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: rgba(255, 255, 255, 0.493);
}

.container header .navbar .align_objects .nav_links .unordered_list .nav_item .active,
.container header .navbar .align_objects .nav_links .unordered_list .nav_item .link:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: white;
}

.container header .navbar .nav_menu {
  -webkit-animation: swipeFromLeft 1s ease-out;
          animation: swipeFromLeft 1s ease-out;
  display: none;
  margin: 2rem 0;
}

.container header .navbar .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.container header .navbar .nav_menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.container header .navbar .nav_menu ul li a {
  font-size: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.76);
}

.container header .navbar .nav_menu ul li a:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: white;
}

.container header .navbar .nav_menu ul li .hide {
  -webkit-animation: swipeFromLeft 1s ease-out;
          animation: swipeFromLeft 1s ease-out;
  color: #908282 !important;
}

.container main {
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
  margin: 18rem auto;
  width: 100%;
  padding: 1.25rem 0;
}

.container main .align_objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
}

.container main .align_objects .text-container {
  max-width: 80%;
}

.container main .align_objects .text-container h2 {
  font-size: clamp(1.5rem, 10vw, 4rem);
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  color: white;
  line-height: 1.4;
}

.container main .align_objects .text-container h2 span {
  color: #908282;
}

.container main .align_objects .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.container main .align_objects .btn-container .important {
  color: black;
  background-color: white;
}

.container main .align_objects .btn-container a {
  z-index: 2;
  -webkit-animation: swipeFromLeft 0.5s ease-in;
          animation: swipeFromLeft 0.5s ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cfcfcf;
  border: solid 0.01rem #908282;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: 0.5rem;
}

.container main .align_objects .btn-container a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #908282;
  -webkit-transition: opacity 0.2s, border 0.3s;
  transition: opacity 0.2s, border 0.3s;
}

.container section .about {
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
  margin: 18rem auto;
  width: 100%;
  padding: 1.25rem 0;
}

.container section .about .align_objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
}

.container section .about .align_objects .text-container {
  max-width: 60%;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section .about .align_objects .text-container h2 {
  font-size: clamp(1.5rem, 10vw, 3.3rem);
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  font-weight: bolder;
  color: white;
  line-height: 2;
}

.container section .about .align_objects .text-container h2 span {
  color: #908282;
  border: solid 2px rgba(255, 255, 255, 0.301);
}

.container section .about .align_objects .text-container p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.container section .about .align_objects .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.container section .about .align_objects .icon-container i {
  color: #cecece;
  font-size: 3.5rem;
  margin-right: 0.5rem;
}

.container section .about .align_objects .icon-container .fa-html5 {
  color: #e46329;
}

.container section .about .align_objects .icon-container .fa-css3-alt {
  color: #28a7df;
}

.container section .about .align_objects .icon-container .fa-sass {
  color: #c76599;
}

.container section .about .align_objects .icon-container .fa-react {
  color: #00d9ff;
}

.container section .about .align_objects .icon-container .fa-node-js {
  color: #83cd29;
}

.container section .work {
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
  margin: 18rem auto;
  width: 100%;
  padding: 1.25rem 0;
}

.container section .work .align_objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
}

.container section .work .align_objects .text-container {
  max-width: 100%;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section .work .align_objects .text-container h2 {
  font-size: clamp(1.5rem, 10vw, 3.3rem);
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  font-weight: bolder;
  color: white;
  line-height: 2;
}

.container section .work .align_objects .text-container h2 span {
  color: #908282;
  border: solid 2px rgba(255, 255, 255, 0.301);
}

.container section .work .align_objects .card-container {
  max-width: 100%;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section .work .align_objects .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
  background-color: rgba(0, 0, 0, 0.267);
  border: solid 0.1rem white;
  margin: 2rem auto;
}

.container section .work .align_objects .card-container .card .info-container {
  padding: 1rem;
  max-width: 50%;
}

.container section .work .align_objects .card-container .card .info-container h3 {
  font-size: 2.5rem;
  color: #eeeeee;
  line-height: 2;
}

.container section .work .align_objects .card-container .card .info-container p {
  font-size: 1.2rem;
  color: #eeeeee;
}

.container section .work .align_objects .card-container .card .info-container .flex {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container section .work .align_objects .card-container .card .info-container .flex .technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
}

.container section .work .align_objects .card-container .card .info-container .flex .technologies-container i {
  color: white;
  font-size: 3rem;
  margin-right: 0.8rem;
}

.container section .work .align_objects .card-container .card .info-container .flex .btn-container {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
}

.container section .work .align_objects .card-container .card .info-container .flex .btn-container a {
  color: #fcfcfc;
  margin-right: 0.5rem;
  border: solid 0.01rem #908282;
  padding: 0.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.container section .work .align_objects .card-container .card .info-container .flex .btn-container a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #908282;
  -webkit-transition: opacity 0.2s, border 0.3s;
  transition: opacity 0.2s, border 0.3s;
}

.container section .work .align_objects .card-container .card .img {
  padding: 1rem;
  max-width: 50%;
}

.container section .work .align_objects .card-container .card .img img {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container section .contact {
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
  margin: 18rem auto;
  width: 100%;
  padding: 1.25rem 0;
}

.container section .contact .align_objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
}

.container section .contact .align_objects .text-container {
  max-width: 30rem;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section .contact .align_objects .text-container h2 {
  font-size: clamp(1.5rem, 10vw, 3.3rem);
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  font-weight: bolder;
  color: white;
  line-height: 2.5;
}

.container section .contact .align_objects .text-container h2 span {
  color: #908282;
  border: solid 2px rgba(255, 255, 255, 0.301);
}

.container section .contact .align_objects .form-container {
  max-width: 30rem;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

.container section .contact .align_objects .form-container .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container section .contact .align_objects .form-container .field label {
  color: white;
  font-weight: normal;
  font-size: 1.7rem;
}

.container section .contact .align_objects .form-container .field input {
  margin: 1rem 0;
  background-color: transparent;
  padding: 1rem 0.5rem;
  border: solid 0.01rem #908282;
  color: white;
  font-size: 1.2rem;
}

.container section .contact .align_objects .form-container .field textarea {
  font-family: "Poppins", sans-serif;
  height: 10rem;
  border: solid 0.01rem #908282;
  color: white;
  background-color: transparent;
  font-size: 1.2rem 0.5rem;
  padding: 1rem 0.5rem;
}

.container section .contact .align_objects .form-container #netlify {
  margin: 2rem 0;
}

.container section .contact .align_objects .form-container input[type="submit"] {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 0.01rem #908282;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  background-color: white;
}

.container section .contact .align_objects .form-container input[type="submit"]:hover {
  background-color: #908282;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.container section .contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.container section .contact .links a {
  color: #e6e6e6;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.container section .contact .links a i {
  margin: 1rem 0.8rem;
  color: white;
  font-size: 2.5rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 1600px) {
  main .align_objects .text-container h2 {
    font-size: 3vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .align_objects {
    max-width: 85% !important;
  }
  header .navbar {
    padding: 0rem !important;
  }
  header .navbar .align_objects .nav_logo .nav_link h1 {
    font-size: 1.5rem !important;
  }
  main {
    padding: 0rem !important;
    margin: 8.5rem 0 !important;
  }
  main .align_objects .text-container {
    max-width: 100% !important;
  }
  main .align_objects .text-container h2 {
    font-weight: bold;
    font-size: 2.5rem !important;
  }
  main .align_objects .btn-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    max-width: 100% !important;
  }
  main .align_objects .btn-container a {
    margin-top: 0.5rem;
  }
  section .about {
    padding: 0 !important;
    margin: 8.5rem 0 !important;
  }
  section .about .align_objects .text-container {
    max-width: 100% !important;
  }
  section .about .align_objects .text-container h2 {
    font-weight: bold;
    font-size: 2.5rem !important;
  }
  section .work {
    padding: 0 !important;
    margin: 8.5rem 0 !important;
  }
  section .work .align_objects .text-container {
    max-width: 100%;
  }
  section .work .align_objects .text-container h2 {
    font-weight: bold;
    font-size: 2.5rem !important;
  }
  section .work .align_objects .card-container .card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 2rem auto !important;
  }
  section .work .align_objects .card-container .card .info-container {
    max-width: 100% !important;
  }
  section .work .align_objects .card-container .card .info-container h3 {
    font-size: 2rem !important;
  }
  section .work .align_objects .card-container .card .info-container .flex .technologies-container {
    padding: 1rem 0 !important;
  }
  section .work .align_objects .card-container .card .info-container .flex .btn-container {
    padding: 1rem 0 !important;
  }
  section .work .align_objects .card-container .card .info-container .flex .btn-container a {
    font-size: 1rem !important;
  }
  section .work .align_objects .card-container .card .img {
    max-width: 100% !important;
  }
  section .work .align_objects .card-container .card .img img {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .align_objects {
    max-width: 85% !important;
  }
  header .navbar {
    padding: 0rem !important;
  }
  header .navbar .align_objects .nav_logo .nav_link h1 {
    font-size: 1.5rem !important;
  }
  header .navbar .align_objects .nav_links .burger_menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header .navbar .align_objects .nav_links .unordered_list {
    display: none !important;
  }
  header .navbar .active-navmenu {
    display: block !important;
  }
  main {
    padding: 0rem !important;
    margin: 8.5rem 0 !important;
  }
  main .align_objects .text-container {
    max-width: 100% !important;
  }
  main .align_objects .text-container h2 {
    font-weight: bold;
    text-align: left;
    font-size: 2rem !important;
  }
  main .align_objects .btn-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    max-width: 100% !important;
  }
  main .align_objects .btn-container a {
    margin-top: 0.5rem;
  }
  section .about {
    padding: 0 !important;
    margin: 0 !important;
  }
  section .about .align_objects .text-container {
    max-width: 100% !important;
  }
  section .about .align_objects .text-container h2 {
    font-weight: bold;
    font-size: 2rem !important;
  }
  section .about .align_objects .text-container p {
    font-size: 1rem !important;
  }
  section .about .align_objects .icon-container {
    margin: 0.5rem 0 !important;
  }
  section .about .align_objects .icon-container i {
    font-size: 2.1rem !important;
  }
  section .work {
    padding: 0 !important;
  }
  section .work .align_objects .text-container {
    max-width: 100% !important;
  }
  section .work .align_objects .text-container h2 {
    font-size: 2rem !important;
  }
  section .work .align_objects .card-container .card {
    margin: 1rem auto !important;
  }
  section .work .align_objects .card-container .card .info-container h3 {
    font-size: 1.5rem !important;
  }
  section .work .align_objects .card-container .card .info-container p {
    font-size: 1rem !important;
  }
  section .work .align_objects .card-container .card .info-container .flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
/*# sourceMappingURL=index.css.map */