body {
  background-color: #0e0e0e;
  background-image: url("/assets/svg/background.svg");
  background-repeat: no-repeat;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

#resume-container {
  a {
    z-index: 2;
    animation: swipeFromLeft 0.5s ease-in;
    transition: 0.3s;
    color: rgb(20, 20, 20);
    border: solid 0.01rem #ffffff;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-right: 0.5rem;
    line-height: 4;
  }

  display: none;
  max-width: 70%;
  margin: 7rem auto;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

.active {
  color: white;
}

.container {
  position: absolute;
  margin: 0 auto;
  top: 0;
  width: 100%;

  header {
    .navbar {
      animation: swipeFromLeft 1s ease-out;
      z-index: 999;
      background-color: rgba(12, 12, 12, 0.971);
      top: 0;
      position: fixed;
      font-family: "Poppins", "Consolas", sans-serif;
      width: 100%;
      padding: 1.25rem 0;

      .align_objects {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        max-width: 70%;
        .nav_logo {
          padding: 0.5rem 0;
          .nav_link {
            h1 {
              color: white;
              font-size: 2rem;
              font-weight: normal;
            }
          }
        }

        .nav_links {
          padding: 0.5rem;
          display: inline-flex;
          align-items: center;
          .unordered_list {
            list-style: none;
            .nav_item {
              text-transform: uppercase;
              font-size: 1.3rem;
              transition: 0.5s ease-in-out;

              .link {
                align-items: center;
                margin: 0rem 0.85rem;
                transition: 0.4s ease-out;
                color: rgba(255, 255, 255, 0.493);
              }

              .active,
              .link:hover {
                transition: 0.2s ease-in;
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }
    }
  }

  main {
    animation: swipeFromRight 1s ease-out;
    margin: 18rem auto;
    width: 100%;
    padding: 1.25rem 0;

    .align_objects {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 0 auto;
      max-width: 70%;

      .text-container {
        max-width: 80%;

        h2 {
          font-size: clamp(1.5rem, 10vw, 4rem);
          animation: fadeIn 0.6s ease-in;
          color: rgb(255, 255, 255);
          line-height: 1.4;

          span {
            color: #908282;
          }
        }
      }

      .btn-container {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        animation: fadeIn 1s ease-in;

        .important {
          color: black;
          background-color: rgb(255, 255, 255);
        }

        a {
          z-index: 2;
          animation: swipeFromLeft 0.5s ease-in;
          transition: 0.3s;
          color: rgb(207, 207, 207);
          border: solid 0.01rem #908282;
          padding: 0.5rem 1.2rem;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.5rem;
          margin-right: 0.5rem;
        }

        a:hover {
          transition: 0.5s;
          color: rgb(255, 255, 255);
          background-color: #908282;
          transition: opacity 0.2s, border 0.3s;
        }
      }
    }
  }

  section {
    .about {
      animation: swipeFromRight 1s ease-out;
      margin: 18rem auto;
      width: 100%;
      padding: 1.25rem 0;

      .align_objects {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        max-width: 70%;

        .text-container {
          max-width: 60%;
          animation: swipeFromRight 1s ease-out;

          h2 {
            font-size: clamp(1.5rem, 10vw, 3.3rem);
            animation: fadeIn 1s ease-in;
            font-weight: bolder;
            color: rgb(255, 255, 255);
            line-height: 2;

            span {
              color: #908282;
              border: solid 2px rgba(255, 255, 255, 0.301);
            }
          }

          p {
            color: #ffffff;
            font-size: 1.5rem;
            line-height: 1.5;
          }
        }

        .icon-container {
          display: flex;
          flex-direction: row;
          margin: 2rem 0;
          animation: fadeIn 1s ease-in;

          i {
            color: rgb(206, 206, 206);
            font-size: 3.5rem;
            margin-right: 0.5rem;
          }

          .fa-html5 {
            color: #e46329;
          }
          .fa-css3-alt {
            color: #28a7df;
          }
          .fa-sass {
            color: #c76599;
          }
          .fa-react {
            color: #00d9ff;
          }
          .fa-node-js {
            color: #83cd29;
          }
        }
      }
    }

    .work {
      animation: swipeFromRight 1s ease-out;
      margin: 18rem auto;
      width: 100%;
      padding: 1.25rem 0;

      .align_objects {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        max-width: 70%;

        .text-container {
          max-width: 100%;
          animation: swipeFromRight 1s ease-out;

          h2 {
            font-size: clamp(1.5rem, 10vw, 3.3rem);
            animation: fadeIn 1s ease-in;
            font-weight: bolder;
            color: rgb(255, 255, 255);
            line-height: 2;

            span {
              color: #908282;
              border: solid 2px rgba(255, 255, 255, 0.301);
            }
          }
        }

        .card-container {
          max-width: 100%;
          animation: swipeFromRight 1s ease-out;

          .card {
            display: flex;
            width: 100%;
            animation: swipeFromRight 1s ease-out;
            background-color: rgba(0, 0, 0, 0.267);
            border: solid 0.1rem white;
            margin: 2rem auto;

            .info-container {
              padding: 1rem;
              max-width: 50%;

              h3 {
                font-size: 2.5rem;
                color: rgb(238, 238, 238);
                line-height: 2;
              }

              p {
                font-size: 1.2rem;
                color: rgb(238, 238, 238);
              }

              .flex {
                bottom: 0;
                display: flex;
                flex-direction: row;
                .technologies-container {
                  display: flex;
                  padding: 1.5rem 0;
                  i {
                    color: white;
                    font-size: 3rem;
                    margin-right: 0.8rem;
                  }
                }

                .btn-container {
                  margin-right: 1rem;
                  display: flex;
                  padding: 1.5rem 0;
                  a {
                    color: rgb(252, 252, 252);
                    margin-right: 0.5rem;
                    border: solid 0.01rem #908282;
                    padding: 0.3rem 1rem;
                    display: flex;
                    align-items: center;
                    font-size: 1.15rem;
                    text-transform: uppercase;
                    letter-spacing: 0.4rem;
                  }

                  a:hover {
                    transition: 0.5s;
                    color: rgb(255, 255, 255);
                    background-color: #908282;
                    transition: opacity 0.2s, border 0.3s;
                  }
                }
              }
            }

            .img {
              padding: 1rem;
              max-width: 50%;

              img {
                width: 100%;
                height: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }

    .contact {
      animation: swipeFromRight 1s ease-out;
      margin: 18rem auto;
      width: 100%;
      padding: 1.25rem 0;

      .align_objects {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        max-width: 70%;

        .text-container {
          max-width: 30rem;
          animation: swipeFromRight 1s ease-out;

          h2 {
            font-size: clamp(1.5rem, 10vw, 3.3rem);
            animation: fadeIn 1s ease-in;
            font-weight: bolder;
            color: rgb(255, 255, 255);
            line-height: 2.5;

            span {
              color: #908282;
              border: solid 2px rgba(255, 255, 255, 0.301);
            }
          }
        }

        .form-container {
          max-width: 30rem;
          animation: swipeFromRight 1s ease-out;

          .field {
            display: flex;
            flex-direction: column;

            label {
              color: white;
              font-weight: normal;
              font-size: 1.7rem;
            }

            input {
              margin: 1rem 0;
              background-color: transparent;
              padding: 1rem 0.5rem;
              border: solid 0.01rem #908282;
              color: white;
              font-size: 1.2rem;
            }

            textarea {
              font-family: "Poppins", sans-serif;
              height: 10rem;
              border: solid 0.01rem #908282;
              color: white;
              background-color: transparent;
              font-size: 1.2rem 0.5rem;
              padding: 1rem 0.5rem;
            }
          }
          #netlify {
            margin: 2rem 0;
          }

          input[type="submit"] {
            font-family: "Poppins", sans-serif;
            width: 100%;
            padding: 0.5rem 1rem;
            border: solid 0.01rem #908282;
            text-transform: uppercase;
            letter-spacing: 0.4rem;
            transition: 0.5s;
            color: black;
            background-color: rgb(255, 255, 255);
          }

          input[type="submit"]:hover {
            background-color: #908282;
            transition: 0.5s;
            color: #ffffff;
          }
        }
      }
      .links {
        display: flex;
        justify-content: center;
        padding: 0 1rem;

        a {
          i {
            margin: 1rem 0.8rem;
            color: white;
            font-size: 2.5rem;
          }

          color: rgb(230, 230, 230);
          text-transform: uppercase;
          margin-right: 1.5rem;
        }
      }
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 1600px) {
  main {
    .align_objects {
      .text-container {
        h2 {
          font-size: 3vw !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .align_objects {
    max-width: 85% !important;
  }

  header {
    .navbar {
      padding: 0rem !important;
      .align_objects {
        .nav_logo {
          .nav_link {
            h1 {
              font-size: 1.5rem !important;
            }
          }
        }
      }
    }
  }

  main {
    padding: 0rem !important;
    margin: 8.5rem 0 !important;
    .align_objects {
      .text-container {
        max-width: 100% !important;

        h2 {
          font-weight: bold;
          font-size: 2.5rem !important;
        }
      }

      .btn-container {
        justify-content: left;
        align-items: left;
        flex-direction: row !important;
        max-width: 100% !important;

        a {
          margin-top: 0.5rem;
        }
      }
    }
  }

  section {
    .about {
      padding: 0 !important;
      margin: 8.5rem 0 !important;

      .align_objects {
        .text-container {
          max-width: 100% !important;

          h2 {
            font-weight: bold;
            font-size: 2.5rem !important;
          }
        }
      }
    }

    .work {
      padding: 0 !important;
      margin: 8.5rem 0 !important;

      .align_objects {
        .text-container {
          max-width: 100%;

          h2 {
            font-weight: bold;
            font-size: 2.5rem !important;
          }
        }

        .card-container {
          .card {
            flex-direction: column !important;
            margin: 2rem auto !important;

            .info-container {
              max-width: 100% !important;

              h3 {
                font-size: 2rem !important;
              }

              .flex {
                .technologies-container {
                  padding: 1rem 0 !important;
                }

                .btn-container {
                  padding: 1rem 0 !important;

                  a {
                    font-size: 1rem !important;
                  }
                }
              }
            }

            .img {
              max-width: 100% !important;

              img {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .align_objects {
    max-width: 85% !important;
  }

  header {
    .navbar {
      padding: 0rem !important;
      .align_objects {
        .nav_logo {
          .nav_link {
            h1 {
              font-size: 1.5rem !important;
            }
          }
        }
        .nav_links {
          display: none !important;
        }
      }
    }
  }

  main {
    padding: 0rem !important;
    margin: 8.5rem 0 !important;
    .align_objects {
      .text-container {
        max-width: 100% !important;

        h2 {
          font-weight: bold;
          text-align: left;
          font-size: 2rem !important;
        }
      }

      .btn-container {
        justify-content: flex-start;
        flex-direction: column !important;
        max-width: 100% !important;

        a {
          margin-top: 0.5rem;
        }
      }
    }
  }

  section {
    .about {
      padding: 0 !important;
      margin: 0 !important;

      .align_objects {
        .text-container {
          max-width: 100% !important;

          h2 {
            font-weight: bold;
            font-size: 2rem !important;
          }

          p {
            font-size: 1rem !important;
          }
        }

        .icon-container {
          margin: 0.5rem 0 !important;
          i {
            font-size: 2.1rem !important;
          }
        }
      }
    }

    .work {
      padding: 0 !important;

      .align_objects {
        .text-container {
          max-width: 100% !important;

          h2 {
            font-size: 2rem !important;
          }
        }

        .card-container {
          .card {
            margin: 1rem auto !important;

            .info-container {
              h3 {
                font-size: 1.5rem !important;
              }

              p {
                font-size: 1rem !important;
              }

              .flex {
                flex-direction: column !important;
              }
            }
          }
        }
      }
    }
  }
}
