nav.navbar {
  background: #000000f4;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

nav.navbar .container {
  -webkit-animation: introLoad 0.7s ease-in;
          animation: introLoad 0.7s ease-in;
}

nav.navbar .container .nav-logo a {
  font-size: 2rem;
  font-weight: normal;
  color: #ffffff;
}

nav.navbar .container .nav-link .nav-link-item {
  list-style-type: none;
}

nav.navbar .container .nav-link .nav-link-item a {
  text-transform: uppercase;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  opacity: 0.5;
}

nav.navbar .container .nav-link .nav-link-item a:hover {
  opacity: 1;
}

nav.navbar .container .nav-link .nav-link-item a.active {
  opacity: 1;
}

nav.navbar .container .nav-mobile-link {
  display: none;
}

section.resume {
  display: none;
  max-width: 70%;
  margin: 7rem auto;
}

section.resume a {
  font-family: "Inter", "Poppins", sans-serif;
  -webkit-animation: swipeFromLeft 1.5s ease-in;
          animation: swipeFromLeft 1.5s ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #141414;
  border: solid 0.01rem #ffffff;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
  line-height: 4;
}

section.home {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.1))), url(/assets/images/bg2.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.1)), url(/assets/images/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.home .container {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

section.home .container .left-col {
  -webkit-animation: swipeFromLeft 0.7s ease-in;
          animation: swipeFromLeft 0.7s ease-in;
  width: 50rem;
  margin: 15vw 0rem;
}

section.home .container .left-col .text-container p {
  margin: 1rem auto;
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #cfcfcf;
  letter-spacing: 0.15rem;
}

section.home .container .left-col .text-container h2 {
  margin: 3rem auto;
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 3.6rem;
  color: #f0f0f0;
  font-weight: bold;
}

section.home .container .left-col .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

section.home .container .left-col .btn-container a {
  margin-right: 0.5rem;
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  border-radius: 0.2rem;
}

section.home .container .left-col .btn-container a:hover {
  -webkit-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}

section.home .container .left-col .btn-container a:nth-of-type(1) {
  padding: 1.1rem 1.3rem;
  color: black;
  border: solid 0.15rem #f9f9f9;
  background-color: white;
}

section.home .container .left-col .btn-container a:nth-of-type(2) {
  padding: 1rem 1.4rem;
  color: white;
  border: solid 0.15rem rgba(107, 107, 107, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
}

section.about {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.986)), to(rgba(0, 0, 0, 0.96))), url(/assets/images/bg.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.986) 20%, rgba(0, 0, 0, 0.96)), url(/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.about .container {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

section.about .container .left-col {
  -webkit-animation: swipeFromLeft 0.7s ease-in;
          animation: swipeFromLeft 0.7s ease-in;
  padding: 5rem 0;
  width: 50rem;
  margin: 5rem 0;
}

section.about .container .left-col .text-container h2 {
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  color: #f0f0f0;
}

section.about .container .left-col .text-container p {
  margin: 2.5rem auto;
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 2rem;
  color: #dedede;
}

section.projects {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.986)), to(rgba(0, 0, 0, 0.954))), url(/assets/images/bg.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.986) 20%, rgba(0, 0, 0, 0.954)), url(/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.projects .container {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

section.projects .container .left-col {
  -webkit-animation: swipeFromLeft 0.7s ease-in;
          animation: swipeFromLeft 0.7s ease-in;
  padding: 5rem 0;
  margin: 5rem 0;
}

section.projects .container .left-col .text-container h2 {
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 3.4rem;
  font-weight: bold;
  color: #f0f0f0;
}

section.projects .container .left-col .card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.projects .container .left-col .card-grid .card {
  background: rgba(22, 23, 25, 0.324);
  width: 24rem;
  margin-top: 4rem;
  margin-right: 4rem;
  border-radius: 1rem;
}

section.projects .container .left-col .card-grid .card .card-img-container img {
  height: 14rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 100%;
}

section.projects .container .left-col .card-grid .card .card-text-container {
  padding: 1rem;
}

section.projects .container .left-col .card-grid .card .card-text-container h4 {
  font-size: clamp(1.5rem, 10vw, 2rem);
  color: white;
  line-height: 1.4;
  font-weight: bold;
}

section.projects .container .left-col .card-grid .card .card-text-container p {
  margin: 1rem 0;
  font-size: clamp(1rem, 10vw, 1.2rem);
  color: white;
  line-height: 1.4;
  font-weight: normal;
}

section.projects .container .left-col .card-grid .card .card-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

section.projects .container .left-col .card-grid .card .card-btn-container a {
  border-radius: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cfcfcf;
  border: solid 0.01rem #ffffff;
  padding: 0.5rem 1.2rem;
  font-size: 1.15rem;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

section.projects .container .left-col .card-grid .card .card-btn-container a:nth-of-type(1) {
  background-color: #ffffff;
  padding: 0.6rem 1.3rem;
  color: black;
}

section.projects .container .left-col .card-grid .card .card-btn-container a:hover {
  color: white;
  background: #000000fb;
  -webkit-transition: opacity 0.2s, border 0.3s;
  transition: opacity 0.2s, border 0.3s;
}

section.contact {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.986)), to(rgba(0, 0, 0, 0.897))), url(/assets/images/bg.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.986) 20%, rgba(0, 0, 0, 0.897)), url(/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.contact .container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

section.contact .container .left-col {
  -webkit-animation: swipeFromLeft 0.7s ease-in;
          animation: swipeFromLeft 0.7s ease-in;
  padding: 5rem 0;
  margin: 5rem 0;
}

section.contact .container .left-col .text-container h2 {
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  color: #f0f0f0;
}

section.contact .container .left-col .form-container {
  margin-top: 2rem;
  -webkit-animation: swipeFromRight 1s ease-out;
          animation: swipeFromRight 1s ease-out;
}

section.contact .container .left-col .form-container .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact .container .left-col .form-container .field label {
  color: white;
  font-size: 2rem;
}

section.contact .container .left-col .form-container .field input {
  border: solid 0.01rem #474747;
  color: white;
  background: transparent;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}

section.contact .container .left-col .form-container .field textarea {
  border: solid 0.01rem #474747;
  color: white;
  background: transparent;
  padding: 1rem;
  font-size: 1.2rem;
  height: 10rem;
  margin: 1rem 0;
}

section.contact .container .left-col .form-container #netlify {
  margin: 2rem 0;
}

section.contact .container .left-col .form-container input[type="submit"] {
  width: 100%;
  padding: 0.8rem;
  border: solid 0.01rem #474747;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  background: white;
}

section.contact .container .left-col .form-container input[type="submit"]:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
  background: black;
}

section.contact .container .right-col {
  width: 20rem;
  -webkit-animation: swipeFromLeft 0.7s ease-in;
          animation: swipeFromLeft 0.7s ease-in;
  padding: 10rem 2rem;
  margin: 10rem 0;
}

section.contact .container .right-col .text-container h3 {
  font-family: "Inter", "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #f0f0f0;
}

section.contact .container .right-col .link-container {
  margin: 1rem 0.5rem;
}

section.contact .container .right-col .link-container a {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-right: 1rem;
}

section.contact .container .right-col .link-container a i {
  color: white;
  font-size: 3rem;
}
/*# sourceMappingURL=app.css.map */